<div>
  <p class="title"><%= @game.player1_name %> (X) vs <%= @game.player2_name %> (O)</p>
  <%= render 'players_form' %>
  <div class="tic-tac-toe-board">
    <% @game.board.each_with_index do |cell, index| %>
      <div class="tic-tac-toe-cell" id=<%= index %>><%= cell %></div>
    <% end %>
  </div>

  <p class="current-player"><%= @game.current_player_name %> turn</p>
  <button id="reset-button">Reset Game</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const boardCells = document.querySelectorAll('.tic-tac-toe-cell');

    boardCells.forEach(cell => {
      cell.addEventListener('click', cellClickHandler);
    });

    function cellClickHandler() {
      if (!this.textContent.trim()) {
        const index = this.getAttribute('id');
        updateBoardState(index);
      }
    }

    document.getElementById('reset-button').addEventListener('click', function() {
      fetch('/games/reset', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content,
        },
      })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            alert('Failed to reset the game.');
          }
        });
    });

    function updateBoardState(index) {
      fetch('/games/update_board', {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content,
        },
        body: JSON.stringify({ position: index }),
      })
      .then(response => response.json())
      .then(data => {
        if (!data.error) {
          const cell = document.getElementById(data.position);
          cell.textContent = data.previous_player;
          if (data.over) {
            setTimeout(() => {
              alert(data.outcome);
            }, 100);
            removeEventListeners();
          } else {
            document.querySelector('.current-player').textContent = data.current_player_name + ' turn';
          }
        } else {
          alert(data.error);
        }
      });
    }

    function removeEventListeners() {
      boardCells.forEach(cell => {
        cell.removeEventListener('click', cellClickHandler);
      });
    }
  });
</script>