<button id="edit-players-button">Edit Players</button>
<div id="modal-players-form">
  <%= form_tag set_player_names_games_url, method: :post do %>
    <label for="player1">Player 1:</label>
    <input type="text" id="player1" name="player1" value="<%= @game.player1_name %>">
    <label for="player2">Player 2:</label>
    <input type="text" id="player2" name="player2" value="<%= @game.player2_name %>">
    <input id="submit-button" class="button" type="submit" value="Submit">
    <button id="cancel-button" class="button">Cancel</button>
  <% end %>
</div>

<script>
  document.getElementById('edit-players-button').addEventListener('click', function() {
    document.getElementById('modal-players-form').style.display = 'block';
  });
  document.getElementById('cancel-button').addEventListener('click', function() {
    closeForm();
  });
  document.getElementById('submit-button').addEventListener('click', function() {
    closeForm();
    window.location.reload();
  });

  window.addEventListener('click', function(event) {
    if (event.target == document.getElementById('modal-players-form')) {
      document.getElementById('modal-players-form').style.display = 'none';
    }
  });

  function closeForm() {
    document.getElementById('modal-players-form').style.display = 'none';
  }
</script>