/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
}

.tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 350px;

}

.tic-tac-toe-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #3B3C3D;
    background-color: white;
    border: 5px solid #3B3C3D;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    height: 100px;
}

.current-player {
    font-size: 2em;
    color: #3B3C3D;
    margin-bottom: 10px;
    text-align: center;
}

.title {
    font-size: 2em;
    color: #3B3C3D;
    text-align: center;
    margin-bottom: 20px;
}

#reset-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #3B3C3D;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#edit-players-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #3B3C3D;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#modal-players-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#modal-players-form form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#modal-players-form label {
    font-size: 1em;
    color: #3B3C3D;
    margin-bottom: 10px;
    width: 80%;
}

#modal-players-form input {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #3B3C3D;
    border: 1px solid #3B3C3D;
}

.button {
    display: block;
    width: 80%;
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #3B3C3D;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#modal-players-form #cancel-button {
    background-color: #F5F5F5;
    color: #3B3C3D;
}

#modal-players-form #submit-button {
    background-color: #3B3C3D;
    color: white;
}
